<h1>Your Events</h1>

<% events.forEach(event => { %>
	<p><%=event.name%> on <%=event.date%></p>
	<form method="GET" action="events/addparticipants">
		<input type="hidden" name="event_id" value="<%=event.id%>">
		<input type="submit" value="Add Participants">
	</form>
	<form method="GET" action="events/addwaypoints">
		<input type="hidden" name="event_id" value="<%=event.id%>">
		<input type="submit" value="Add Waypoints">
	</form>
	<hr />
<% }) %>