<nav>
	<p class="home-title"><a href="/">Pedals and Pints</a></p>
	<span><a href="/events">Your Events</a></span>
	<% if (currentUser) { %>
		<span>Welcome back, <%=currentUser.firstname%>! <a href="/auth/logout">Logout</a></span>
	<% } else { %>
		<span><a href="/auth/signup">Sign Up</a> 
		<a href="/auth/login">Log In</a></span>
	<% } %>
	<ul>
		<li><a href="/events/new">Create Event</a></li>
	</ul>
</nav>