<!DOCTYPE html>
<html>
<head>
	<title>Pedals and Pints</title>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<% include ./partials/header %> 
   	<% include ./partials/alerts %>

	<%- body %>

	<% include ./partials/footer %> 

</body>
</html>